# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


.idea/
out/
target/
img/
imgGame/
MyfileEx/
Myfile_client/
Myfile_server/
WebContent/

src/**/test/

*.png
*.jpg