# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


.idea/
out/
target/
img/
imgGame/
MyfileEx/
Myfile_client/
Myfile_server/
WebContent/lesson12*/
lib/

src/**/test/

WebContent/index.jsp
WebContent/WEB-INF/web.xml
*.png
*.jpg